.search__suggesstion--container{
    display:  grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    max-height: 300px;
    overflow-y: scroll;
}
.search__suggestion__img--container{
   width: 100px; 
}

.search__suggesstion__img--container>img{
    max-width: 100%;
    width: 100%;
    
 }
 .search__suggesstion__text--container{
    font-size: 18px;
    color: gray;
 }
 .search__suggesstion--type{
    font-size: 24px;
    color: black;
 }
 .search__suggestion__logo--container{
    width: 40px;
    display: flex;
    align-items: center;
 }
 .search__suggestion__logo--container>img{
    max-width: 100%;
    width: 100%;
 }
 .search__content--container{
   width: 80vw;
   margin: 0 auto;
   display:  grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
 }